<h2>Login View</h2>

<div class="padding" ng-controller="LoginController">
  <div>
    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="username" type="text" placeholder="Username" />
      </label>
      <label class="item item-input">
        <input ng-model="password" type="password" placeholder="Password" />
      </label>
    </div>
    <div class="padding-left padding-right">
      <div class="button-bar">
        <a class="button" ng-click="login(username, password)">Login</a>
        <a class="button" ng-click="register(username, password)">Register</a>
      </div>
    </div>
  </div>
</div>
