<h2>Upload View</h2>
<div ng-controller="UploadController">
  <div class="padding">
    <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
  </div>
  <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
    <div class="col col-25" ng-if="$index < images.length">
      <img ng-src="data:image/jpeg;base64,{{images[$index].image}}" width="100%" />
    </div>
    <div class="col col-25" ng-if="$index + 1 < images.length">
      <img ng-src="data:image/jpeg;base64,{{images[$index + 1].image}}" width="100%" />
    </div>
    <div class="col col-25" ng-if="$index + 2 < images.length">
      <img ng-src="data:image/jpeg;base64,{{images[$index + 2].image}}" width="100%" />
    </div>
    <div class="col col-25" ng-if="$index + 3 < images.length">
      <img ng-src="data:image/jpeg;base64,{{images[$index + 3].image}}" width="100%" />
    </div>
  </div>
</div>
